/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    cursor: url('cursor.png') 20 20, pointer;
}

.mainHeader {
    background-color: #ff7f50;
    font-weight: 900;
}

.smallH1Text {
    font-size: .6rem;
    font-weight: 800;
    color: #c7613c;
}